.BottomBar {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;

  &-logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
}
