.TopLeftCorner,
.TopRightCorner,
.BottomLeftCorner,
.BottomRightCorner {
  background: var(--sidebar-bg, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  // TODO: remove debug shading
  outline: 3px dashed rgba(255, 255, 255, 0.4);
  outline-offset: -3px;
}
